AURA.json
{
  "name": "AURA",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "95c25278-588c-4e51-9680-9cbad4182fdd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-tgoUgL9eG12vA7DVOrWnAXujwfjMQvHeTMQ4Uwmpvw",
          "mode": "list",
          "cachedResultName": "Job Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-tgoUgL9eG12vA7DVOrWnAXujwfjMQvHeTMQ4Uwmpvw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-tgoUgL9eG12vA7DVOrWnAXujwfjMQvHeTMQ4Uwmpvw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Job ID",
              "lookupValue": "={{ $json.job_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        112
      ],
      "id": "4ce0087a-820a-4598-96f0-62431e56a205",
      "name": "Check Job IDs",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4WiYgaf26wWDjU6x",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/hKByXkMQaC5Qt9UMN/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"count\": 100,\n  \"scrapeCompany\": true,\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?currentJobId=4294958460&distance=25&f_JT=F&f_PP=100761630&f_TPR=r86400&geoId=101174742&keywords=%22new%20graduate%22%20OR%20%22new%20grad%22%20OR%20%22software%20engineer%22%20OR%20%22software%20developer%22%20OR%20%22AI%22&origin=JOB_SEARCH_PAGE_JOB_FILTER&refresh=true&sortBy=R\"\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        112
      ],
      "id": "3936f3b8-5ae0-4b1a-919c-c52b9a7c6a7c",
      "name": "Extract Job Postings",
      "credentials": {
        "groqApi": {
          "id": "fvHgvqo3rPt3QAb0",
          "name": "Groq account"
        },
        "httpHeaderAuth": {
          "id": "2y3JmAfOw9327uF4",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        112
      ],
      "id": "1c2e5a5e-037b-4086-829b-7dafad9f875f",
      "name": "50 Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI assistant that evaluates how well a job matches a candidate's skills and experience. Respond ONLY in JSON with two fields: job_id (copied from input) and match_score (integer 0–100).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Job ID: {{ $json.id }}\\n\\nI am looking for jobs. Your task is to filter them based on a list of attributes and skills that I have. Some jobs may not be relevant, which is why I want you to go through each of them and rate how well my profile fits the role (0–100).\\n\\nBelow is my background and resume information:\\n\\nSamih Wadi\\n181 Dundas St E | samihwadi8@gmail.com | +1 (437)-663-4449 | Portfolio | LinkedIn\\n\\nSummary:\\nFull Stack Engineer with hands-on experience developing and integrating scalable web applications using React, Next.js, Node.js, and TypeScript. Strong understanding of the software development lifecycle (SDLC), from architecture design to automated testing and deployment.\\n\\nTechnical Skills:\\nCore: JavaScript (ES6+), TypeScript, React, Node.js, PostgreSQL, MongoDB, Python, Swift\\nFamiliar: Shopify, WordPress, Docker, Vue, Jest, React Native, Terraform, GitHub Actions, CI/CD pipelines, n8n\\nAdditional: REST APIs, database schema design and optimization, version control (Git), Agile development\\n\\nEducation:\\nToronto Metropolitan University — Sep 2021 – June 2025\\nBachelor of Science in Computer Science | Dean’s List: 2022, 2024, 2025\\nRelevant Coursework: Database Systems, Data Structures & Algorithms, Software Engineering, Web Systems Development\\n\\nExperience:\\nMaestro — Full Stack Developer | Jan 2024 – Present\\n- Developed scalable backend systems using TypeScript, Node.js, and PostgreSQL to power a real-time tutoring platform.\\n- Refactored backend architecture to handle concurrent requests efficiently, improving system throughput by 30%.\\n- Implemented CI/CD workflows using GitHub Actions and automated performance testing to enhance deployment reliability and reduce load times by 25%.\\n\\nProjects:\\nAutomated Unified Recruitment Agent | n8n, OpenAI API | Nov 2025\\n- Built an automated job search workflow using n8n to streamline the end-to-end application process, integrating data from LinkedIn and Google Jobs into Google Sheets.\\n- Leveraged the OpenAI API to tailor resumes and cover letters for each role, intelligently matching job descriptions with skills and experience.\\n- Reduced manual job application time by 96.67%, enabling faster, data-driven decision-making and improved application consistency.\\n\\nGritLock (ongoing) | Swift, iOS Screen Time API | June 2024\\n- Developed a mobile productivity app in Swift using the iOS Screen Time API to boost task completion by 25%.\\n- Implemented selective app-locking features, reducing social media interruptions from 10 to 4 per session and increasing sustained focus time by 40%.\\n- Elevated user productivity by designing customizable focus and break intervals with integrated notifications, fostering personalized time management and goal achievement.\\n\\nAlphabiz Solutions | MongoDB, Express, React, Node.js, JWT | Sep 2024 – Dec 2024\\n- Wrote and maintained integration and regression tests for authentication workflows, reducing production defects by 30%.\\n- Engineered scalable APIs and backend monitoring systems to improve system uptime and reliability.\\n- Collaborated with a 5-member team using Git and JIRA, contributing through code reviews and Agile sprints to deliver high-quality features on time.\\n\\nHere is the job description: {{ $json.descriptionHtml }}\"\n    }\n  ],\n  \"temperature\": 0.2\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        112
      ],
      "id": "a0c14d34-12ea-42cf-a18f-ecf6347f2825",
      "name": "Filter and Rate Jobs",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2y3JmAfOw9327uF4",
          "name": "Header Auth account"
        },
        "groqApi": {
          "id": "fvHgvqo3rPt3QAb0",
          "name": "Groq account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -16
      ],
      "id": "5b56d3d5-250a-4676-9b74-a0346a6b7c73",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Filter Logic\n\n",
        "height": 448,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -32
      ],
      "typeVersion": 1,
      "id": "7c4b5021-7036-43a3-90c6-ab9cae109c30",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// If the input contains an error field, return fallback\nif ($json.error) {\n  return {\n    job_id: 0,\n    match_score: 0,\n  };\n}\n\ntry {\n  const content = $json.choices[0].message.content;\n  const parsed = JSON.parse(content);\n\n  return {\n    job_id: parsed.job_id ?? null,\n    match_score: parsed.match_score ?? null,\n  };\n\n} catch (err) {\n  return {\n    job_id: 0,\n    match_score: 0,\n  };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        112
      ],
      "id": "890a5ab0-b3a4-426e-9417-b6daa2478750",
      "name": "Sanitise"
    },
    {
      "parameters": {
        "content": "## Tailor Logic\n",
        "height": 448,
        "width": 1744,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        -32
      ],
      "typeVersion": 1,
      "id": "2d4a6f12-d486-4c58-ad3d-6847772c8708",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('>=70%').first()?.json?.job_id?.toString().trim();\nconst allJobs = $(\"50 Limit\").all().map(i => i.json);\nconst job = allJobs.find(j => j.id.toString().trim() === jobId);\nreturn job ? [{ json: job }] : [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        112
      ],
      "id": "4fbbb921-ac7a-4d14-972a-ef73f6dcd731",
      "name": "Find Full Job Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI assistant that tailors resumes and cover letters. Respond ONLY in valid JSON with two fields: tailored_resume (string) and tailored_cover (string). IMPORTANT: Escape all newlines as \\\\n, not literal line breaks. Do NOT invent any roles, achievements, or experience. Only use the candidate's real background and experience provided in the input as Base Resume Summary\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Tailor my resume summary and cover letter for this job.\\n\\nJob ID: {{ $json.id }}\\nJob Title: {{ $json.title }}\\nCompany: {{ $json.companyName }}\\nJob Description: {{ $json.descriptionText }}\\nLocation: {{ $json.location }}\\n\\nBase resume summary:\\n\\\"Full Stack Engineer with hands-on experience developing and integrating scalable web applications using React, Next.js, Node.js, and TypeScript. Strong understanding of the software development lifecycle (SDLC), from architecture design to automated testing and deployment.\\\"\\n\\nBase cover letter template:\\n\\\"Hi [Hiring Manager’s Name],\\n\\nI’m [Your Name], a [Your Title/Field] with experience in [Key Skill 1] and [Key Skill 2]. When I saw your opening for [Job Title], I knew my background in [Relevant Experience] could help [Company] [Solve a Problem They Mentioned].\\n\\nAt [Current/Last Job], I [Achievement 1]. For example, [Specific Story with Numbers or Outcomes]. I also [Achievement 2], where I [Brief Example].\\n\\nWhat excites me most about [Company] is [Specific Value/Project/Initiative]. I’d love to bring my [Skill/Passion] to your team and help [Impact You Want to Make].\\n\\nI’d appreciate the chance to discuss how I can contribute to [Company]. You can reach me at [Phone] or [Email]. Thank you for your time—I look forward to hearing from you.\\n\\nBest regards,\\n[Your Name]\\\"\\n\\nPlease generate the tailored resume summary and cover letter specifically for this job using ONLY the candidate's real background. Fill in placeholders with job-specific info and candidate experience. Respond in JSON format: {\\\"tailored_resume\\\": \\\"...\\\", \\\"tailored_cover\\\": \\\"...\\\"}\"\n    }\n  ],\n  \"temperature\": 0.2\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2608,
        112
      ],
      "id": "36713aa4-e8e6-4f97-8cbe-6458e71c99e6",
      "name": "Tailor Resume and Cover",
      "credentials": {
        "groqApi": {
          "id": "fvHgvqo3rPt3QAb0",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobInfo = $(\"Find Full Job Info\").all()[0]?.json;\nconst resumeCover = $(\"Tailor Resume and Cover\").all()[0]?.json;\n\nlet content = resumeCover.choices[0]?.message.content;\n\n// Sanitize invalid control chars\ncontent = content.replace(/[\\u0000-\\u0019]+/g, \"\");\n\nconst parsed = JSON.parse(content);\n\nconst result = {\n  job_id: jobInfo.id,\n  job_title: jobInfo.title,\n  job_company: jobInfo.companyName,\n  job_url: jobInfo.link,\n  tailored_resume: parsed.tailored_resume,\n  tailored_cover: parsed.tailored_cover\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        112
      ],
      "id": "a3a11a37-6965-4d9b-a70a-3ce27c22006c",
      "name": "Merge and Prep",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        112
      ],
      "id": "879efa62-1897-4b0c-b999-5fc263693883",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d8b63df-7a63-4afa-ab62-e7c14e2bf8b3",
              "leftValue": "={{$items(\"Check Job IDs\")[0].json.job_id}}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        112
      ],
      "id": "2e155eb8-a034-470c-aa65-0e5981e4f482",
      "name": "If Job not in Sheet"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-tgoUgL9eG12vA7DVOrWnAXujwfjMQvHeTMQ4Uwmpvw",
          "mode": "list",
          "cachedResultName": "Job Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-tgoUgL9eG12vA7DVOrWnAXujwfjMQvHeTMQ4Uwmpvw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-tgoUgL9eG12vA7DVOrWnAXujwfjMQvHeTMQ4Uwmpvw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "={{ $json.job_id }}",
            "Job title": "={{ $json.job_title }}",
            "Company": "={{ $json.job_company }}",
            "URL": "={{ $json.job_url }}",
            "Description": "=",
            "Tailored Resume": "={{ $json.tailored_resume }}",
            "Tailored Cover Letter": "={{ $json.tailored_cover }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job title",
              "displayName": "Job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due date",
              "displayName": "Due date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tailored Resume",
              "displayName": "Tailored Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tailored Cover Letter",
              "displayName": "Tailored Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date applied",
              "displayName": "Date applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3056,
        192
      ],
      "id": "ae775a98-b2dd-4601-a45f-e4410d79e34d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4WiYgaf26wWDjU6x",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2384,
        112
      ],
      "id": "6de71a10-21d1-43c8-8f6c-c9fa721159a5",
      "name": "Wait",
      "webhookId": "d7f8ef11-f7c3-4e8e-958f-03a6202b3cb9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5e1a9e6-bf24-4eb7-a480-8ebd5fa5a51d",
              "leftValue": "={{ $json.match_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        112
      ],
      "id": "c097ba43-dcc4-4983-9fd3-63168159155d",
      "name": ">=70%"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        112
      ],
      "id": "27bc97f5-038e-40e3-839f-a809bf388638",
      "name": "Token Buffer",
      "webhookId": "7c44ce19-cd22-4234-9cc6-972ccbdc3e91"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Extract Job Postings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Postings": {
      "main": [
        [
          {
            "node": "50 Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job IDs": {
      "main": [
        [
          {
            "node": "If Job not in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50 Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Rate Jobs": {
      "main": [
        [
          {
            "node": "Sanitise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Extract Job Postings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitise": {
      "main": [
        [
          {
            "node": ">=70%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Full Job Info": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tailor Resume and Cover": {
      "main": [
        [
          {
            "node": "Merge and Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge and Prep": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Token Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Job not in Sheet": {
      "main": [
        [
          {
            "node": "Find Full Job Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Tailor Resume and Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ">=70%": {
      "main": [
        [
          {
            "node": "Check Job IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Buffer": {
      "main": [
        [
          {
            "node": "Filter and Rate Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "69424a53-9b43-4903-96b9-17364094f56b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef7e288dd6ee68d7d79eee623824781827b8884eaa8aafbab123a6a94772833b"
  },
  "id": "jEVHGVseJLYbxPUP",
  "tags": [
    {
      "updatedAt": "2025-11-06T20:29:29.627Z",
      "createdAt": "2025-11-06T20:29:29.627Z",
      "id": "6YAmo8BHUVRihgc3",
      "name": "Job Search"
    }
  ]
}